version: "3.9"

services:
  web:
    image: node:22-alpine
    working_dir: /app
    command: sh -c "corepack enable && pnpm install && pnpm dev"
    ports:
      - "3321:3000"
    environment:
      NODE_ENV: development
      NEXT_TELEMETRY_DISABLED: "1"
      TZ: America/Sao_Paulo
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    # Se você tiver variáveis no .env.local, descomente a linha abaixo
    # env_file: .env.local

volumes:
  node_modules:
